@view-transition {
    navigation: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100vw;

    img {
        height: 405px;
        width: 720px;
    }
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 60vh;
    width: 100vw;

    img {
        height: 135px;
        width: 240px;
        margin: 0 20px;
    }
}
